/* html,body {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;

} */
body {
    margin: 0 auto;
}

a:link {
    text-decoration: none;
}

#urso-img {
    position: fixed;
    width: 70px;
}

.tabela-dinamica{
    align-content: center;
}