body {
    width: 960px;
    margin: 0 auto;
}

.img-responsive {
    max-width: 100%;
}

.topo {
    height: 60px;
    border: solid black;
    border-width: thin;
}

main {
    display: flex;
    align-items: center;
    border: solid black;
}

.maior {
    width: 520px;
    height: 400px;
    margin-left: 20px;
    border: solid black;
}

.iguais{
    width: 200px;
    height: 400px;
    margin-left: 20px;
    border: solid black;
}